<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ddf81">  <td>16/12/21 12:49:03</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestVerifyLogin.closeBrowser()[pri:0, instance:testproject.testcases.TestVerifyLogin@5b0f67d1]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@67455012</td>   <td></td> </tr>
<tr bgcolor="9ddf81">  <td>16/12/21 12:48:48</td>   <td>-14847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestVerifyLogin.login()[pri:0, instance:testproject.testcases.TestVerifyLogin@5b0f67d1]">login</td> 
  <td>main@67455012</td>   <td></td> </tr>
<tr bgcolor="9ddf81">  <td>16/12/21 12:48:41</td>   <td>-22054</td> <td>&nbsp;</td><td title="&gt;&gt;TestVerifyLogin.openBrowser()[pri:0, instance:testproject.testcases.TestVerifyLogin@5b0f67d1]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@67455012</td>   <td></td> </tr>
</table>
